Repository dotnet/SqlClient, pull requests merged in 2020-04, with the labels that each got.

#506 perf: remove ActivityCorrelator.Current.ToString() calls in tracing
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlBulkCopy.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlDataAdapter.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlDataReader.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlTransaction.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlBulkCopy.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlDataAdapter.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlDataReader.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlTransaction.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/TdsParser.cs
Labels: Port to NetFx

#470 Improved decimal scale conversion
  BUILDGUIDE.md
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/ParametersTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/SqlParameterTest_DebugMode.bsl
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/SqlParameterTest_ReleaseMode.bsl
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/TvpTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/AdjustPrecScaleForBulkCopy.cs
Labels: :hammer: Breaking Change, :new: Public API

#517 Enable Diagnostic Source tests with remote executor
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/Microsoft.Data.SqlClient.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/TracingTests/DiagnosticTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/TracingTests/EventSourceTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/TracingTests/FakeDiagnosticListenerObserver.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/TracingTests/TestTdsServer.cs
  src/Microsoft.Data.SqlClient/tests/tools/CoreFx.Private.TestUtilities/CoreFx.Private.TestUtilities.csproj
  src/Microsoft.Data.SqlClient/tests/tools/CoreFx.Private.TestUtilities/System/Diagnostics/RemoteExecutorTestBase.Process.cs
  src/Microsoft.Data.SqlClient/tests/tools/CoreFx.Private.TestUtilities/System/Diagnostics/RemoteExecutorTestBase.cs
  src/Microsoft.Data.SqlClient/tests/tools/CoreFx.Private.TestUtilities/System/Diagnostics/RemoteExecutorTestBase.netcore.cs
  src/Microsoft.Data.SqlClient/tests/tools/CoreFx.Private.TestUtilities/System/Diagnostics/RemoteExecutorTestBase.netfx.cs
  src/Microsoft.Data.SqlClient/tests/tools/CoreFx.Private.TestUtilities/System/Diagnostics/RemoteExecutorTestBase.uap.cs
  src/Microsoft.Data.SqlClient/tests/tools/CoreFx.Private.TestUtilities/System/Diagnostics/RemoteExecutorTestBase.uapaot.cs
  src/Microsoft.Data.SqlClient/tests/tools/CoreFx.Private.TestUtilities/System/IO/FileCleanupTestBase.cs
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.EndPoint/TDS.EndPoint.csproj
  src/NuGet.config
  tools/props/Versions.props
  tools/specs/Microsoft.Data.SqlClient.nuspec
Labels: :heavy_check_mark: Tests

#529 Fix Connection Strings for Tests
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
Labels: :heavy_check_mark: Tests

#471 Introduce Docker debugging with Docker Compose orchestration support
  .dockerignore
  BUILDGUIDE.md
  src/.dockerignore
  src/Microsoft.Data.SqlClient.sln
  src/Microsoft.Data.SqlClient/tests/DockerLinuxTest/Dockerfile
  src/Microsoft.Data.SqlClient/tests/DockerLinuxTest/Microsoft.Data.SqlClient.DockerLinuxTest.csproj
  src/Microsoft.Data.SqlClient/tests/DockerLinuxTest/Program.cs
  src/Microsoft.Data.SqlClient/tests/DockerLinuxTest/Properties/launchSettings.json
  src/docker-compose.dcproj
  src/docker-compose.override.yml
  src/docker-compose.yml
  tools/credScan/CredScanSuppressions.json
Labels: :heavy_check_mark: Tests

#463 Connection Open with fast fail option
  doc/snippets/Microsoft.Data.SqlClient/SqlConnection.xml
  doc/snippets/Microsoft.Data.SqlClient/SqlConnectionOverrides.xml
  src/Microsoft.Data.SqlClient/netcore/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/TdsEnums.cs
  src/Microsoft.Data.SqlClient/netfx/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlConnection.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/TdsEnums.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/ConnectivityTest.cs
Labels: :new: Public API

#530 Fix tests failure on expected exceptions
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/SqlCommand/SqlCommandCancelTest.cs
Labels: :heavy_check_mark: Tests

#497 Add SslOverTdsStream tests
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/Microsoft.Data.SqlClient.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SslOverTdsStreamTest.cs
Labels: :heavy_check_mark: Tests
