Repository dotnet/SqlClient, pull requests merged in 2021-07, with the labels that each got.

#1041 Add SqlCommand.DisableOutputParameters Feature
  doc/snippets/Microsoft.Data.SqlClient/SqlCommand.xml
  src/Microsoft.Data.SqlClient/netcore/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlCommand.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/netcore/src/Resources/Strings.Designer.cs
  src/Microsoft.Data.SqlClient/netcore/src/Resources/Strings.resx
  src/Microsoft.Data.SqlClient/netfx/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlCommand.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/TdsParser.cs
  src/Microsoft.Data.SqlClient/netfx/src/Resources/Strings.Designer.cs
  src/Microsoft.Data.SqlClient/netfx/src/Resources/Strings.resx
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/ParametersTest.cs
Labels: :chart_with_upwards_trend: Performance, :new: Public API

#1148 Drop Asynchronous Processing connection property + Improve connection string docs
  doc/samples/RegisterCustomKeyStoreProvider_Example.cs
  doc/samples/SqlConnectionStringBuilder_AsynchronousProcessing.cs
  doc/snippets/Microsoft.Data.SqlClient/SqlConnection.xml
  doc/snippets/Microsoft.Data.SqlClient/SqlConnectionStringBuilder.xml
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/Common/DbConnectionStringCommon.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlConnectionString.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlConnectionStringBuilder.cs
  src/Microsoft.Data.SqlClient/netfx/ref/Microsoft.Data.SqlClient.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/Common/DbConnectionStringCommon.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlConnectionString.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlConnectionStringBuilder.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlDependencyListener.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlUtil.cs
  src/Microsoft.Data.SqlClient/netfx/src/Resources/Strings.Designer.cs
  src/Microsoft.Data.SqlClient/netfx/src/Resources/Strings.de.resx
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlConnectionStringBuilderTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/DDBasics/DDAsyncTest/DDAsyncTest.cs
Labels: :hammer: Breaking Change, :page_with_curl: Documentation

#1161 Tests | Enhance Visual Studio testing experience
  build.proj
  src/Microsoft.Data.SqlClient.sln
  src/Microsoft.Data.SqlClient/add-ons/AzureKeyVaultProvider/Microsoft.Data.SqlClient.AlwaysEncrypted.AzureKeyVaultProvider.csproj
  src/Microsoft.Data.SqlClient/add-ons/Directory.Build.props
  src/Microsoft.Data.SqlClient/netcore/ref/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netfx/ref/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/tests/CustomConfigurableRetryLogic/CustomRetryLogicProvider.csproj
  src/Microsoft.Data.SqlClient/tests/Directory.Build.props
  src/Microsoft.Data.SqlClient/tests/Docker/Directory.Build.props
  src/Microsoft.Data.SqlClient/tests/Docker/DockerLinuxTest/Dockerfile
  src/Microsoft.Data.SqlClient/tests/Docker/DockerLinuxTest/Microsoft.Data.SqlClient.DockerLinuxTest.csproj
  src/Microsoft.Data.SqlClient/tests/Docker/DockerLinuxTest/Program.cs
  src/Microsoft.Data.SqlClient/tests/Docker/DockerLinuxTest/Properties/launchSettings.json
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/AlwaysEncryptedTests/SqlColumnEncryptionCertificateStoreProviderShould.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/AlwaysEncryptedTests/SqlColumnEncryptionCngProviderShould.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/AlwaysEncryptedTests/SqlColumnEncryptionCspProviderShould.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/Microsoft.Data.SqlClient.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Address/Address.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Circle/Circle.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Shapes/Shapes.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Utf8String/Utf8String.csproj
  src/Microsoft.Data.SqlClient/tests/NSLibrary/Microsoft.Data.SqlClient.NSLibrary.csproj
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.ExtUtilities/Microsoft.Data.SqlClient.ExtUtilities.csproj
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Microsoft.Data.SqlClient.TestUtilities.csproj
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.DotNet.XUnitExtensions/Microsoft.DotNet.XUnitExtensions.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.EndPoint/TDS.EndPoint.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS.Servers/TDS.Servers.csproj
  src/Microsoft.Data.SqlClient/tests/tools/TDS/TDS/TDS.csproj
  src/docker-compose.yml
  tools/props/Versions.props
  tools/specs/Microsoft.Data.SqlClient.nuspec
Labels: :heavy_check_mark: Tests, :new: Public API

#1059 Tests | Performance Tests Initial base
  BUILDGUIDE.md
  src/Microsoft.Data.SqlClient.sln
  src/Microsoft.Data.SqlClient/netcore/src/Common/perf/PerfRunner/AssemblyAttributes.cs
  src/Microsoft.Data.SqlClient/netcore/src/Common/perf/PerfRunner/PerfRunner.cs
  src/Microsoft.Data.SqlClient/netcore/src/Common/perf/PerfRunner/PerfRunner.csproj
  src/Microsoft.Data.SqlClient/netcore/src/Common/perf/PerfRunner/PerfRunner.runtimeconfig.json
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/BenchmarkRunners/BaseRunner.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/BenchmarkRunners/DataTypeReaderAsyncRunner.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/BenchmarkRunners/DataTypeReaderRunner.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/BenchmarkRunners/SqlBulkCopyRunner.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/BenchmarkRunners/SqlCommandRunner.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/BenchmarkRunners/SqlConnectionRunner.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/Config/BenchmarkConfig.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/Config/Config.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/Config/Constants.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/Config/DataTypes.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/DBFramework/Column.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/DBFramework/DbUtils.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/DBFramework/Table.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/DBFramework/TablePatterns.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/Microsoft.Data.SqlClient.PerformanceTests.csproj
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/Program.cs
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/datatypes.json
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/runnerconfig.json
  tools/props/Versions.props
Labels: :heavy_check_mark: Tests

#1159 Improve SqlConnectionTest and SqlCommandTest with Assert.Throws
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlCommandTest.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlConnectionTest.cs
Labels: :heavy_check_mark: Tests

#1173 Document difference in DateTime vs TimeSpan value for DbType.Time parameter
  porting-cheat-sheet.md
Labels: :page_with_curl: Documentation

#933 Rework MARSConnection state machine
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SNI/SNICommon.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SNI/SNIMarsConnection.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SNI/SNIMarsHandle.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SNI/SNINpHandle.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SNI/SNIPacket.Debug.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SNI/SNIPacket.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SNI/SNIPhysicalHandle.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SNI/SNITcpHandle.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/TdsParserStateObject.cs
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/SqlClientEventSource.cs
Labels: netcore

#1128 Reset cached async state on disposing a command
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SNI/SNIStreams.Task.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SNI/SNIStreams.ValueTask.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlCommand.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/TdsParserStateObject.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlCommand.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/RetryLogic/SqlConnectionReliabilityTest.cs
Labels: :bug: Bug!
