Repository dotnet/SqlClient, pull requests merged in 2021-11, with the labels that each got.

#1386 Fix API Docs issues
  doc/snippets/Microsoft.Data.SqlClient/ActiveDirectoryAuthenticationProvider.xml
  doc/snippets/Microsoft.Data.SqlClient/SqlBulkCopy.xml
  doc/snippets/Microsoft.Data.SqlClient/SqlConnectionStringBuilder.xml
Labels: :page_with_curl: Documentation

#1382 Build script changes for enhanced testing experience
  BUILDGUIDE.md
  build.proj
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/TcpDefaultForAzureTest.cs
  tools/props/Versions.props
Labels: :heavy_check_mark: Tests

#1377 Test - Add tests for code coverage part 1
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/Microsoft.Data.SqlClient.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlClientFactoryTest.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlClientLoggerTest.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlCommandSetTest.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlConnectionStringBuilderTest.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlParameterCollectionTest.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlParameterTest.cs
Labels: :heavy_check_mark: Tests

#1384 Test - Add tests for code coverage part2
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/SqlClient/Server/SqlMetaData.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlCommandBuilderTest.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlMetaDataTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/AdapterTest/AdapterTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/SqlDependencyTest/SqlDependencyTest.cs
Labels: :heavy_check_mark: Tests

#1410 Do not check IsUsingManagedSNI in NonAzureNoProtocolConnectionTestWindows for netfx
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/TcpDefaultForAzureTest.cs
Labels: :heavy_check_mark: Tests, netfx
