Repository dotnet/SqlClient, pull requests merged in 2023-01, with the labels that each got.

#1879 Test | Fix UTF8 failures in SQL 2017 and 2016.
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/Utf8SupportTest/Utf8SupportTest.cs
Labels: :heavy_check_mark: Tests

#1884 Test | Skip unsupported tests on Synapse
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectionPoolTest/TransactionPoolTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/DataReaderTest/DataReaderCancellationTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/DataReaderTest/DataReaderStreamsTest.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/MARSTest/MARSTest.cs
Labels: :heavy_check_mark: Tests

#1849 Remove redundant NuGet package references.
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/PerformanceTests/Microsoft.Data.SqlClient.PerformanceTests.csproj
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.DotNet.XUnitExtensions/Microsoft.DotNet.XUnitExtensions.csproj
  tools/props/Versions.props
  tools/specs/Microsoft.Data.SqlClient.nuspec
Labels: :bulb: Enhancement

#1889 Update SNI Version to 5.1.0
  tools/props/Versions.props
  tools/specs/Microsoft.Data.SqlClient.nuspec
Labels: :page_facing_up: Native SNI

#1878 Test | Fix managed instance TVP test source file
  BUILDGUIDE.md
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/DataTestUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ParameterTest/TvpTest.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.Data.SqlClient.TestUtilities/Config.cs
Labels: :heavy_check_mark: Tests

#1890 Tests | Skip unsupported platform x86 test and bump up Microsoft.NET.Test.Sdk version
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/TransactionTest/DistributedTransactionTest.cs
  src/Microsoft.Data.SqlClient/tests/tools/Microsoft.DotNet.XUnitExtensions/Extensions/PlatformDetection.cs
  tools/props/Versions.props
Labels: :heavy_check_mark: Tests

#1893 Release notes v5.1.0
  CHANGELOG.md
  release-notes/5.1/5.1.0-preview1.md
  release-notes/5.1/5.1.0-preview2.md
  release-notes/5.1/5.1.0.md
  release-notes/5.1/5.1.md
  release-notes/5.1/README.md
Labels: :page_with_curl: Documentation

#1904 Tests | Update manual test run logs
  build.proj
Labels: :heavy_check_mark: Tests

#1906 Fix NullReferenceException in GetBytesAsync
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlDataReader.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/DataReaderTest/DataReaderStreamsTest.cs
Labels: :bug: Bug!, netcore
