Repository dotnet/SqlClient, pull requests merged in 2024-03, with the labels that each got.

#2331 Test | Improve test quality of life
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/BaseProviderAsyncTest/BaseProviderAsyncTest.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/BaseProviderAsyncTest/MockCommand.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/BaseProviderAsyncTest/MockConnection.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/BaseProviderAsyncTest/MockDataReader.cs
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/SqlMetaDataTest.cs
Labels: :heavy_check_mark: Tests

#2360 Remove test reference to deprecated ADAL library
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/AADUtility.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/DataCommon/SqlClientCustomTokenCredential.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  tools/props/Versions.props
Labels: :heavy_check_mark: Tests

#2381 Doc | Fix typo in SqlConnectionEncryptOption.xml
  doc/snippets/Microsoft.Data.SqlClient/SqlConnectionEncryptOption.xml
Labels: :page_with_curl: Documentation

#2375 Fix | Fixed SqlBulkCopy.WriteToServer to ensure successful completion of consecutive calls to it.
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlBulkCopy.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlBulkCopy.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/SqlBulkCopyTest/WriteToServerTest.cs
Labels: :bug: Bug!

#2399 Fix | The SqlConnection.FireInfoMessageEventOnUserErrors when set to true throws an exception
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlCommand.cs
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/SqlCommand.cs
  src/Microsoft.Data.SqlClient/tests/ManualTests/SQL/ConnectivityTests/ConnectivityTest.cs
Labels: :bug: Bug!

#2413 Change | Convert Netfx to SDK style
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/tests/FunctionalTests/Microsoft.Data.SqlClient.Tests.csproj
  src/Microsoft.Data.SqlClient/tests/ManualTests/Microsoft.Data.SqlClient.ManualTesting.Tests.csproj
  tools/specs/Microsoft.Data.SqlClient.nuspec
Labels: netfx, :heavy_plus_sign: Code Health

#2403 Merge common code base for DBReferenceCollection
  src/Microsoft.Data.SqlClient/netcore/src/Common/src/Microsoft/Data/ProviderBase/DbReferenceCollection.cs
  src/Microsoft.Data.SqlClient/netcore/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/netfx/src/Microsoft.Data.SqlClient.csproj
  src/Microsoft.Data.SqlClient/src/Microsoft/Data/ProviderBase/DbReferenceCollection.cs
Labels: :heavy_plus_sign: Code Health

#2421 Fixes UdtTestDb creating script
  tools/testsql/createUdtTestDb.sql
Labels: :heavy_check_mark: Tests
